<a href="https://colab.research.google.com/github/hamydang16/Data-Analysis/blob/main/Ask_A_Manager_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
%matplotlib inline
from scipy import stats
import warnings
warnings.filterwarnings('ignore')


#Set palette for visualization
#palette = ["#1B6930","#4E8227","#988B34","#AD5543","#B75C8B","#AF7ABD","#9A96C5","#B0C3CF","#C8DAD4","#DFE7DF","#F5F6F4"]
palette = ["#625E97","#83A7B9","#AED6C6","#AA976F","#C89899"]
sns.set_palette(palette)
#display option
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import data

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ask-a-manager-cleaned.csv')

In [4]:
df.head()

,Timestamp,Age range,Industry,Job title,Annual salary,Additional monetary compensation,Currency,Country,State,City,YOE (Overall),YOE (Field),Eduacation (Highest complete),Gender,Race
0,2021-04-27 11:02:09.743,25-34,education (higher education),research and instruction librarian,55000,0.00,USD,united states,massachusetts,Boston,5 - 7,5 - 7,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,computing or tech,change & internal communications manager,54600,"4,000.00",GBP,united kingdom,NaN,Cambridge,8 - 10,5 - 7,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"accounting, banking & finance",marketing specialist,34000,NaN,USD,united states,tennessee,Chattanooga,2 - 4,2 - 4,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,nonprofits,program manager,62000,"3,000.00",USD,united states,wisconsin,Milwaukee,8 - 10,5 - 7,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"accounting, banking & finance",accounting manager,60000,"7,000.00",USD,united states,south carolina,Greenville,8 - 10,5 - 7,College degree,Woman,White

In [6]:
#Only analyze data from the US
df_us = df[df['Country'] == 'united states']
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23131 entries, 0 to 27898
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Timestamp                         23131 non-null  object
 1   Age range                         23131 non-null  object
 2   Industry                          23131 non-null  object
 3   Job title                         23130 non-null  object
 4   Annual salary                     23131 non-null  int64
 5   Additional monetary compensation  17348 non-null  float64
 6   Currency                          23129 non-null  object
 7   Country                           23131 non-null  object
 8   State                             22956 non-null  object
 9   City                              23069 non-null  object
 10  YOE (Overall)                     23131 non-null  object
 11  YOE (Field)                       23131 non-null  object
 12  Eduacation (Highest complete)     22979 non-null  object
 13  Gender                            22992 non-null  object
 14  Race                              22986 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 2.8+ MB

# Data cleaning

In [7]:
df_us.isnull().sum()

Timestamp                              0
Age range                              0
Industry                               0
Job title                              1
Annual salary                          0
Additional monetary compensation    5783
Currency                               2
Country                                0
State                                175
City                                  62
YOE (Overall)                          0
YOE (Field)                            0
Eduacation (Highest complete)        152
Gender                               139
Race                                 145
dtype: int64