<a href="https://colab.research.google.com/github/hamydang16/Data-Analysis/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
#add when combine
from scipy.stats import bootstrap, mannwhitneyu

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import data

In [3]:
#import data
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Ask A Manager Salary Survey 2021 (Responses).xlsx')

# Data cleaning

In [4]:
#basic info
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28046 entries, 0 to 28045
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28046 non-null  datetime64[ns]
 1   How old are you?                                                                                                                                                                                                                      28046 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27972 non-null  object
 3   Job title                                                                                                                                                                                                                             28045 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7260 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28046 non-null  int64
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20758 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28046 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        203 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3040 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28046 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23031 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27964 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28046 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28046 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27826 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27876 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27870 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 3.9+ MB

In [6]:
df.describe()

,Timestamp,"What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits."
count,28046,2.804600e+04,2.075800e+04
mean,2021-05-14 05:03:42.304699136,1.476194e+05,1.816757e+04
min,2021-04-27 11:02:09.743000,0.000000e+00,0.000000e+00
25%,2021-04-27 14:21:21.677500160,5.400000e+04,0.000000e+00
50%,2021-04-28 13:56:13.594000128,7.500000e+04,2.000000e+03
75%,2021-04-29 20:15:03.869000192,1.100000e+05,1.000000e+04
max,2024-06-05 02:38:39.491000,8.700000e+08,1.200000e+08
std,NaN,5.409612e+06,8.342138e+05

In [7]:
df.shape

(28046, 18)

## Duplicate

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [Timestamp, How old are you?, What industry do you work in?, Job title, If your job title needs additional context, please clarify here:, What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.), How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits., Please indicate the currency, If "Other," please indicate the currency here: , If your income needs additional context, please provide it here:, What country do you work in?, If you're in the U.S., what state do you work in?, What city do you work in?, How many years of professional work experience do you have overall?, How many years of professional work experience do you have in your field?, What is your highest level of education completed?, What is your gender?, What is your race? (Choose all that apply.)]
Index: []

## Clean column name

In [9]:
df.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

In [10]:
# Age column
df['How old are you?'].unique()

array(['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64',
       'under 18'], dtype=object)

In [11]:
#Rename age column
df = df.rename(columns={'How old are you?': 'Age'})

In [ ]:
#industry
df['What industry do you work in?'].value_counts().head(25)

In [20]:
#rename industry column
df = df.rename(columns={'What industry do you work in?': 'Industry'})

In [24]:
#Group the non-top 25 industries into others
df['Industry'] = df['Industry'].apply(lambda x: 'Others' if x not in df['Industry'].value_counts().head(25).index else x)

In [15]:
#Drop clarification for job title as null values account for the majority of values
df['If your job title needs additional context, please clarify here:'].isnull().sum()

20786

In [16]:
#Drop
df = df.drop(columns=['If your job title needs additional context, please clarify here:'])

In [33]:
#rename annual salary column
df = df.rename(columns={df.columns[4]:'Annual Salary'})

In [38]:
#rename monetary compensation column
df = df.rename(columns={df.columns[5]:'Additional Monetary Compensation'})

In [44]:
#rename currency column
df = df.rename(columns={df.columns[6]:'Currency', df.columns[7]: 'Other currency'})

In [46]:
#fill na of currency column with the other currency column
df['Currency'] = df['Currency'].fillna(df['Other currency'])

In [49]:
#drop the other currency column
df = df.drop(columns=['Other currency'])

In [52]:
#drop the additional context for income column
df = df.drop(columns=['If your income needs additional context, please provide it here:'])

In [55]:
#rename country column
df = df.rename(columns={'What country do you work in?': 'Country'})

In [ ]:
#clean country value

In [53]:
df.head()

,Timestamp,Age,Industry,Job title,Annual Salary,Additional Monetary Compensation,Currency,What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,2021-04-27 11:02:09.743,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0.0,USD,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:21.562,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000.0,GBP,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38.125,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,NaN,USD,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:40.643,25-34,Nonprofits,Program Manager,62000,3000.0,USD,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:41.793,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000.0,USD,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White